@media(max-width:786px) {
    .form-group.col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .rating-box {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 786px) and (max-width: 991px) { 
    .form-group.col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .rating-box {
        margin-bottom: 30px;
    }

    .rating-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .place-box-col{
        flex: 0 0 50%;
        max-width: 50%; 
    }
}

@media(max-width:786px) {
    .banner-section {
        height: 100vh;
    }

    .space {
        padding: 30px;
    }

    .form-group.col-md-3 {
        padding: 8px 20px;
    }

    .booking-process {
        margin-top: 20px;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .customer-rating-section {
        padding: 30px 10px;
    }

    .col-md-6.useful-links {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .col.link-list {
        padding: 15px;
    }
}
